<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt9yfuLVJs9OqmXQLce8P5bLIZBR-DUk8</string>
	<key>GCM_SENDER_ID</key>
	<string>105175796858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.numbers</string>
	<key>PROJECT_ID</key>
	<string>numbers-d2687</string>
	<key>STORAGE_BUCKET</key>
	<string>numbers-d2687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105175796858:ios:9a9545454035b40cf3ffc3</string>
</dict>
</plist>